<div class="jumbotron jumbotron-fluid d-flex flex-row align-items-center">
  <div class="container text-center">
  	<h1 class="display-4">NOTENOTE</h1>
  	<p class="lead">Your online notebook. Never forget an idea again.</p>
  	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success btn-lg" %>
  </div>
</div>
