// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: $color_body;
}

#section_note_index{
	> .container{
		> .row{
			> .col-4{
				> .card{
					height: 200px;
					background-color: $color_bg;
					color: $color_text;
				}
				> .card:hover{
					color: $color_hover;
					box-shadow: 0 0 3px 3px $color_hover;
				}
			}
		}
	}
}

.add_note{
	background-color: #404040;
	padding: 15px;
	color: $color_text;
	border-radius: 10px;
}

.card-header{
	> h4{
		margin-bottom: 0;
	}
}

#section_sign_up{
	> .container{
		> .row{
			> .col-4{
				background-color: $color_text;
				padding: 15px;
				border-radius: 5px;
			}
		}
	}
}

.form-control{
	background-color: $color_body;
}

#section_log_in{
	> .container{
		> .row{
			> .col-4{
				background-color:$color_text;
				padding: 15px;
				border-radius: 5px;
			}
		}
	}
}

#section_note_form{
	> .container{
		> .row{
			> .col-8{
				background-color: $color_text;
				padding: 15px;
				border-radius: 5px;
			}
		}
	}
}